html {
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    margin: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

h2{
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

p {
    font-size: 1rem;
}


#presentation-container{
    padding: 2.5rem 7.5rem;
    height: 70vh;
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;

}

#presentation {
    padding-top: 8rem;
    width: 37.5rem;
    position: relative;
    top: calc (50% -9rem);
    
}

button{
    background-color: #F84646;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;

}

.container {
    padding: 10rem 7.5rem;
    text-align: center;
}

.contact-title{
    margin-top: 0.5rem;
}

.container > p {
    margin-top: 1.5rem;
}

.container > button{
    margin-top: 2rem;

}

.background-gradient{ 
    background: linear-gradient(180deg, #fff, #d9d9d9);
}