html {
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body{
    margin: 0;
}

h1 {
    font-size: 64px;
    font-weight: 800;
    margin: 0;
}

h2{
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

p {
    font-size: 16px;
}


#presentation-container{
    padding: 90px 120px;
    height: 600px;

}

#presentation {
    
    width: 600px;
    position: relative;
    top: calc (50% -145px);
    
}

button{
    background-color: #F84646;
    color: white;
    font-weight: 500;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 24px;

}

.container {
    padding: 160px 120px;
    text-align: center;
}

.contact-title{
    margin-top: 8px;
}

.container > p {
    margin-top: 24px;
}

.container > button{
    margin-top: 32px;

}